# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
footlab/node_modules
footlab/.pnp
footlab/.pnp.js
footlab/.yarn/install-state.gz

# testing
footlab/coverage

# next.js
footlab/.next/
footlab/out/

# production
footlab/build

# misc
footlab/.DS_Store
footlab/*.pem

# debug
footlab/npm-debug.log*
footlab/yarn-debug.log*
footlab/yarn-error.log*

# local env files
footlab/.env*.local

# vercel
footlab/.vercel

# typescript
footlab/*.tsbuildinfo
footlab/next-env.d.ts
